<nav>
    <a href="/"><img src="/img/logo_final.png" alt="ConnectUP"></a>
    <div class="nav-links" id="navLinks">
        <i class="fas fa-times" onclick="hideMenu()"></i>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/aboutus">About Us</a>
            </li>
            <% if(!locals.session){ %>
                <li>
                    <a href="/signin">Sign In</a>
                </li>
            <% } else if(locals.session.loggedin) { %>
  
                <li>
                    <a href="/signout">Sign Out</a>
                </li>
                <li>
                    <a href="/dashboard">Dashboard</a>
                </li>
                <% }else{ %>
                    <li>
                        <a href="/signin">Sign In</a>
                    </li>
                    <% } %>
            
            <li>
                <a href="/faqs">FAQs</a>
            </li>
            <li>
                <a href="/contactus">Contact Us</a>
            </li>
        </ul>
    </div>
    <i class="fas fa-bars" onclick="showMenu()"></i>
</nav>