<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); %>
    <title>About us</title>
    
<!--    <link rel="shortcut icon" type="image/jpg" href="./Images/favicon.png">-->
</head>

<body>
    <section class="sub-header">

            <%- include('partials/header'); %>

        

       <h1>About Us</h1>
    </section>
   <!------------------------------------------------------------About Us Content--------------------------------------------------------------->
   <section class="about-us">
    <div class="row">
        <div class="about-col">
            <h1>Our Mission</h1>
            <p>To create a simplistic but world-wide nexus of contacts for startups and employees to facilitate communication and exchange of ideas.</p>
            <br><br>
            <h1>Our Vision</h1>
            <p>We want to build the most reliable, efficient, trustworthy, yet simplistic platform for professional-to-professional networking among startups with the ultimate goal of encouraging self-employment.</p>
        </div>
        <div class="about-col">
            <img src="./img/about.jpg" alt="About Us">
        </div>
    </div>
</section>    
   <!-----------------------------------------------------------------Footer-------------------------------------------------------------------->

    <%- include('partials/footer'); %>
   