<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); %>
    <title>ConnectUP</title>
    
<!--    <link rel="shortcut icon" type="image/jpg" href="./Images/favicon.png">-->
</head>

<body>
   <section class="sub-header">
      <%- include('partials/header'); %>
      <h1>FAQs</h1>
   </section>
   <!---------------------------------------------------------------FAQs Content---------------------------------------------------------------->
   <section class="faqs">
       <div class="faq">
           <div class="question">
               <h1>What is ConnectUP?</h1>
               <svg width = "25" height = "25" viewBox = "0 0 42 25">
                   <path
                       d = "M3 3L21 21L39 3" stroke = "#DCE1EB" stroke-width = "7" stroke-linecap = "round" fill="#23CFD6"></path>
               </svg>
           </div>
           <div class="answer">
               ConnectUP is a one-stop platform for all stakeholders in the Startup ecosystem to interact amongst each other, exchange knowledge and form successful partnerships in a highly dynamic environment.
           </div>
       </div>
       <div class="faq">
           <div class="question">
               <h1>Lorem ipsum dolor sit amet?</h1>
               <svg width = "25" height = "25" viewBox = "0 0 42 25">
                   <path
                       d = "M3 3L21 21L39 3" stroke = "#DCE1EB" stroke-width = "7" stroke-linecap = "round" fill = "#23CFD6"></path>
               </svg>
           </div>
           <div class="answer">
               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam laborum maiores nisi expedita. Neque, ea, vitae. In harum natus perspiciatis voluptatibus veritatis cupiditate, consectetur vitae, fugiat quam omnis sapiente eius?
           </div>
       </div>
       <div class="faq">
           <div class="question">
               <h1>How do we connect to enablers after creating a profile?</h1>
               <svg width = "25" height = "25" viewBox = "0 0 42 25">
                   <path
                       d = "M3 3L21 21L39 3" stroke = "#DCE1EB" stroke-width = "7" stroke-linecap = "round" fill = "#23CFD6"></path>
               </svg>
           </div>
           <div class="answer">
               The system is build to connect you to your relevant stakeholders based on your industry and preferred stage. Under the profile of every enabler there will be an option to “connect/apply”. Upon clicking, a request will be sent to the respective profile for acceptance. Once accepted, you will able to see the enabler as a new connection.
           </div>
       </div>
       <div class="faq">
           <div class="question">
               <h1>Lorem ipsum dolor sit amet?</h1>
               <svg width = "25" height = "25" viewBox = "0 0 42 25">
                   <path
                       d = "M3 3L21 21L39 3" stroke = "#DCE1EB" stroke-width = "7" stroke-linecap = "round" fill = "#23CFD6"></path>
               </svg>
           </div>
           <div class="answer">
               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam laborum maiores nisi expedita. Neque, ea, vitae. In harum natus perspiciatis voluptatibus veritatis cupiditate, consectetur vitae, fugiat quam omnis sapiente eius?
           </div>
       </div>
       <div class="faq">
           <div class="question">
               <h1>Lorem ipsum dolor sit amet?</h1>
               <svg width = "25" height = "25" viewBox = "0 0 42 25">
                   <path
                       d = "M3 3L21 21L39 3" stroke = "#DCE1EB" stroke-width = "7" stroke-linecap = "round" fill = "#23CFD6"></path>
               </svg>
           </div>
           <div class="answer">
               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam laborum maiores nisi expedita. Neque, ea, vitae. In harum natus perspiciatis voluptatibus veritatis cupiditate, consectetur vitae, fugiat quam omnis sapiente eius?
           </div>
       </div>
   </section>   
   <!-----------------------------------------------------------------Footer-------------------------------------------------------------------->
   <%- include('partials/footer'); %>