<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); %>
    <title>FAQS</title>
    
<!--    <link rel="shortcut icon" type="image/jpg" href="./Images/favicon.png">-->
</head>

<body>
    <section class="sub-header">
        <%- include('partials/header'); %>

    
   <!-----------------------------------------------------------------Footer-------------------------------------------------------------------->
   <section class="footer">
    <%- include('partials/footer'); %>
   </section>
 <script src="./js/script.js"></script>
</body>
</html>