<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); %>
    <title>ConnectUP</title>
<!--    <link rel="shortcut icon" type="image/jpg" href="./Images/favicon.png">-->
</head>

<body>
   <section class="header">    
    <%- include('partials/header'); %>
        <div class="text-box">
            <h1>Lorem Ipsum Dolor</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum consequatur quae corporis aliquid nulla totam, enim provident quam cupiditate quis, explicabo quia laudantium distinctio ab pariatur non dolores beatae dolore!
            </p>
            <a href="/signup" class="hero-btn">Register Now</a>
        </div>
   </section>
  <!-----------------------------------------------------------------Courses------------------------------------------------------------------>
  <section class="courses">
    <h1>Top 5 Startups ...</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <div class="row">
        <div class="courses-col">
            <h3>Of The Week</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit minima sed quisquam corporis animi nam doloribus, blanditiis voluptate delectus ea, ipsum facere laboriosam ratione! Blanditiis quibusdam obcaecati nobis fugiat odit!</p>
        </div>
        <div class="courses-col">
            <h3>Of The Month</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit minima sed quisquam corporis animi nam doloribus, blanditiis voluptate delectus ea, ipsum facere laboriosam ratione! Blanditiis quibusdam obcaecati nobis fugiat odit!</p>
        </div>
        <div class="courses-col">
            <h3>Of The Year</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit minima sed quisquam corporis animi nam doloribus, blanditiis voluptate delectus ea, ipsum facere laboriosam ratione! Blanditiis quibusdam obcaecati nobis fugiat odit!</p>
        </div>
    </div>
</section> 
<!----------------------------------------------------------------Facilities----------------------------------------------------------------->
<!--<section class="facilities">
    <h1>Our Facilities</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <div class="row">
        <div class="facilities-col">
            <img src="./Images/library.png" alt="Library">
            <h3>World Class Library</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque deserunt, incidunt cumque earum nihil.</p>
        </div>
        <div class="facilities-col">
            <img src="./Images/basketball.png" alt="Sports Training">
            <h3>Best Sports Training</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque deserunt, incidunt cumque earum nihil.</p>
        </div>
        <div class="facilities-col">
            <img src="./Images/cafeteria.png" alt="Cafeteria">
            <h3>Variety of Cuisines</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque deserunt, incidunt cumque earum nihil.</p>
        </div>
    </div>
</section>-->
<!---------------------------------------------------------------Testimonials---------------------------------------------------------------->
<section class="testimonials">
    <h1>Testimonials</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <div class="row">
        <div class="testimonials-col">
            <img src="./img/user1.jpg" alt="Student 1">
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex velit, dolor illum mollitia placeat vero laborum aut, veritatis deleniti doloremque soluta. Dicta corporis sequi amet, obcaecati vero quasi loremeveniet repellendus.</p>
                <h3>Lorem Ipsum</h3>
            </div>
        </div>
        <div class="testimonials-col">
            <img src="./img/user2.jpg" alt="Student 1">
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex velit, dolor illum mollitia placeat vero laborum aut, veritatis deleniti doloremque soluta. Dicta corporis sequi amet, obcaecati vero quasi eveniet repellendus.</p>
                <h3>Lorem Ipsum</h3>
            </div>
        </div> 
    </div>      
</section>
<!--------------------------------------------------------------Call To Action--------------------------------------------------------------->
<section class="cta">
   <h1>Lorem ipsum dolor sit amet<br> elit commodi possimus</h1>
   <a href="/contactus" class="hero-btn">Contact Us</a>
</section>
<!-----------------------------------------------------------------Footer-------------------------------------------------------------------->
   <%- include('partials/footer'); %>