<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); %>
    <link rel="stylesheet" href="./css/form.css">
    <title>SignIn</title>
</head>

<body>
    <section class="sub-header">

      <%- include('partials/header'); %>

       
       <h1>Sign In</h1>
    </section>
   <!-----------------------------------------------------------Sign In Content-------------------------------------------------------------->
   <%   if(typeof message != "undefined" && message && message != "") { %>
    <div class="mt-5 mb-3">

        <div class="alert alert-warning alert-dismissible fade show" role="alert">

          <strong><%=  message  %></strong>

          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

        </div>

      </div> 

    <% }    %>

 <section class="sign-in form" width=100%>
<div class="container">


<form method = "post" action="/submit">
  <label for="user">UserId:</label><br>
  <input type="text" id="user" name="user" required><br>
  <label for="email">Email:</label><br>
  <input type="email" id="email" name="email" placeholder="abc@gmail.com" required><br>
  <label for="password">Password:</label><br>
  <input type="password" id="password" name="password" required placeholder="......"><br><br>  
  <button><input type="submit" value="Submit"></button>
</form> 
</div>
<li><a href="/signup">Don't have an account then sign-up</a></li><br>

   </section>
   <!-----------------------------------------------------------------Footer-------------------------------------------------------------------->
   <%- include('partials/footer'); %>
