<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head'); %>
  <link rel="stylesheet" href="./css/style.css">
  <title>Signup</title>
</head>

<body>
    <section class="sub-header">
      <%- include('partials/header'); %>

       <h1>Sign UP</h1>
    </section>

    <%   if(typeof message != "undefined" && message && message != "") { %>
      <div class="mt-5 mb-3">
  
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
  
            <strong><%=  message  %></strong>
  
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  
          </div>
  
        </div> 
  
      <% }    %>


    <section class="sign-up form" width=100% >
      <div >
        <br><br>
      <div class="card" style="width: 50%; margin:auto;" >
        <img src="./img/student.png" alt="Card why">
        <div class="card-body">
          <h5 class="card-title">Student</h5>

          <a href="/signup_student" class="btn btn-primary">Student Sign-Up</a>
        </div>
      </div>
<br><br><br>
      <div class="card" style="width: 50%;margin:auto;">
        <img class="card-img-top" src="./img/company.png" alt="Card image cap">
        <div class="card-body">
         <h5 class="card-title">Company</h5>
 
          <a href="/signup_company" class="btn btn-primary">Company Sign-Up</a>
        </div>
      </div>
<br><br><br>
      <div class="card" style="width: 50%;margin:auto;">
        <img class="card-img-top" src="./img/professional.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Professional</h5>
  
          <a href="/signup_prof" class="btn btn-primary">Professional Sign-Up</a>
        </div>
      </div>
<br><br><br>
      <div class="card" style="width: 50%;margin:auto;">
        <img class="card-img-top" src="./img/freelancer.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Self-Employed</h5>
          <a href="/signup_free" class="btn btn-primary">Self-Employed Sign-Up </a>

        </div>
      </div>
<br><br><br>
</section>

</div>
        
    <!-----------------------------------------------------------------Footer-------------------------------------------------------------------->
   <section class="footer">
    <%- include('partials/footer'); %>
 </section>
<script src="./js/script.js"></script>


</body>
</html>
