<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head'); %>
  <link rel="stylesheet" href="./css/form.css">
  <title>ConnectUP</title>
</head>

<body>
    <section class="sub-header">
      <%- include('partials/header'); %>

       <h1>Sign Up</h1>
    </section>

    <%   if(typeof message != "undefined" && message && message != "") { %>
      <div class="mt-5 mb-3">
  
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
  
            <strong><%=  message  %></strong>
  
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  
          </div>
  
        </div> 
  
      <% }    %>


    <section class="sign-in form" width=100%>
      <div class="container">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Student</h5>

          <a href="/signup_student" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Startup</h5>
   
          <a href="/signup_company" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Investor</h5>
         
          <a href="/signup_prof" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Freelancer</h5>
          <a href="/signup_free" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
</section>

</div>
        
    <!-----------------------------------------------------------------Footer-------------------------------------------------------------------->
    <%- include('partials/footer'); %>
